html {
  --accent-color: #38c;
  --error-color: #b42;
}

html,
body {
  font-size: 10px;
  line-height: 1.6em;
  font-family: "Tahoma", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

*:focus {
  box-shadow: none;
  outline: none;
}

i.material-icons {
  font-size: 1.65rem;
  line-height: 1rem;
  vertical-align: middle;
}

/* global modifiers */
.--disabled {
  opacity: 0.75 !important;
  user-select: none !important;
  pointer-events: none !important;
}

body {
  background-color: #323232;
  color: #f0f0f0;
  padding: 0rem 0rem;
  margin: 0 0;
  margin-bottom: 2rem;
  position: relative;
}

ul, ol {
  padding: 0 0;
  margin: 0 0;
}

.tip {
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  float: right;
}

.overlay {
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
}

.groups-tray {
  width: 20rem;
  max-height: 20rem;
  overflow-y: auto;
  background-color: #444;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: absolute;
  right: 5.7rem;
  bottom: 3rem;
  transform: translateY(125%);
  transition: 0.2s ease-out all;
  opacity: 0.25;
}

.groups-tray.--open {
  opacity: 1;
  transform: translateY(0%);
  transition: 0.25s ease-out all;
}

.groups-tray .groups-tray__title {
  display: none;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin: 0 0;
  margin-bottom: 0.25rem;
  
}

.groups-tray ul {
  position: relative;
  font-size: 1.4rem;
  border-top: 1px solid rgba(0,0,0,0.2);
  list-style: none;
  z-index: 1;
  user-select: none;
}

.groups-tray .empty {
  display: none;
  text-align: center;
  padding: 1rem 1rem;
}

.groups-tray .empty span {
  display: inline-block;
  padding: 0.25rem;
  margin: 0.25rem 0 0.5rem 0;
}

.groups-tray ul:empty + .empty {
  display: block;
}

.groups-tray ul li {
    padding: 0.5rem 1rem;
    text-overflow: ellipsis;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    overflow: hidden;
    white-space: nowrap;
}

.groups-tray ul li:hover {
  cursor: default;
  background-color: rgba(255,255,255,0.1);
}

.groups-tray ul li:before {
  content: "folder";
  font-family: "Material Icons";
  margin-right: 0.75rem;
  display: inline-block;
}

.groups-tray .groups-tray__list li.--active {
  /* background-color: var(--accent-color); */
}

.groups-tray ul li.--active:before {
  content: "check";
}


.notification {
  displaY: inline-block;
  justify-self: flex-start;
  flex-grow: 2;
  color: rgba(255,255,255,0.5);
}

.warning {
  color: var(--error-color);
}
.actions {
  clear: both;
  padding: 0rem 2rem;
  border-top: 1px solid rgba(0,0,0,0.25);
  display: flex;
  background-color: #3a3a3a;
  align-content: center;
  align-items: center;
  justify-items: flex-end;
  justify-content: flex-end;
  z-index: 2; /* for tray to be under this */
  position: relative; /* for tray to be under this */
}

.actions__selection-actions {
  display: inline-block;
  margin-right: 0.5rem;
  border-right: 1px solid rgba(0,0,0,0.2);
  padding: 0.25rem 0.75rem 0.25rem 0.25rem;
}

.actions button + button {
  margin-left: 0.25rem;
}

.toggle-group-deletions.--active {
  color: var(--error-color);
  animation: 0.8s blink infinite alternate-reverse;
}

.loading {
  display: none;
}

.--loading > .loading {
  display: block;
  color: #fff;
  position: fixed;
  top: calc(33% - 5rem);
  left: calc(50% - 5rem);
  z-index: 4;
  margin: 0 0;
  padding: 0.25rem 1rem;
  border-radius: 6px;
}

.--loading > :not(.loading) {
  display: none;
}
/* 
.deleter {
  display: none;
}

.--deleting > .deleter {
  display: block;
    color: #fff;
    padding: 5vh 5vw;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    right: 0;
    background-color: var(--error-color);
    z-index: 999;
} */

.--deleting > :not(.deleter) {
  pointer-events: none;
}

.font-list {
  padding: 1rem 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 3rem);
}

.font-list__list {
  list-style: none;
  padding: 0rem 0;
  margin: 0rem 0;
  border-top: 1px solid rgba(0,0,0,0.25);
}

.font-list__list li {
  margin: 0 0;
}

.font-list__list li.empty {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: rgba(255,255,255,0.5);
}

.font {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  background-color: transparent;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  flex: 0 1 auto;
  height: 2.75rem;
}

.font:hover {
  background-color: rgba(0,0,0,0.2);
  cursor: default;
  user-select: none;
}

.font.--selected {
  background-color: var(--accent-color);
  transition: 0.1s ease-out background-color;
  position: sticky;
  top: 2.5rem;
  bottom: -1rem;
  z-index: 0;
}


.font__name  {
  font-size: 1.2rem;
}

.font__style-count {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 1rem;
  color: rgba(255,255,255, 0.65);
  user-select: none;
}

.font__preview {
  font-size: 2rem;
  line-height: 1em;
  font-feature-settings: normal;
  padding: 0 0.5rem;
  align-self: self-end;
  justify-self: flex-end;
  flex-grow: 2;
  text-align: right;
  user-select: none;
}


.no-groups {
  font-size: 1rem;
  opacity: 0.5;
  text-align: center;
  font-weight: 400;
  background-color: rgba(0,0,0,0.1);
  padding: 1rem 1rem;
}

.font-list__inputs {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex: 0 1 auto;
  margin: 0 0;
  position: sticky;
  top: -1rem;
  background-color: #333;
  padding: 0.5rem 0rem;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  z-index: 2;
}

.group {
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 3px;
  margin-bottom: 1rem;
  padding: 0 0;
  margin: 0.5rem 0;
  cursor: default;
  margin-bottom: 0.5rem;
  transition: 0.2s ease-out margin;
  position: relative;
  
}

.group__delete {
  position: absolute;
  right: 0rem;
  padding: 0.25rem 0.5rem;

  color: rgba(255,255,255,0.65);
  transform: translateX(300%);
}

.group__delete:hover {
  color: var(--error-color);
}

.group__delete i {
  font-size: 1.8rem;
  transform: scale(1);
  transition: 0.2s ease-in transform;
}


.--allow-deletions .font-list__groups .group {
  margin-right: 4rem;
}

.--allow-deletions .group__delete {
  display: block;
  transform: translateX(150%);
  transition: 0.1s linear transform;
}

.group__title {
  font-size: 1rem;
  background-color: #444;
  margin: 0 0;
  padding: 0.5rem 0.5rem;
  user-select: none;
  transition: 0.2s ease-out font-size;
}

.group__title.--editing {
  background-color: #222;
  border-bottom: 3px solid var(--accent-color);
  font-size: 1rem;
  color: var(--accent-color);
}

.group__title.--editing:empty {
  border-bottom: 3px solid var(--error-color);
}

.group .group__title.--editing::before {
  animation: 0.8s blink infinite alternate-reverse;
  content: "edit" !important;
  /* font-size: 1rem; */
  font-weight: 400;
  color: var(--accent-color);
}

@keyframes blink {
  from {
    opacity: 0.25;
  }

  to {
    opacity: 0.75;
  }
}

.group__title > em {
  display: inline-block;
  font-style: normal;
}

.group__list {
  display: none;
}

.group.--active {
  margin-bottom: 1.5rem;

}

.group.--active .group__list {
  display: block;
}

.group__title::before {
  font-family: "Material Icons";
  content: "keyboard_arrow_right";
  font-size: 1.4rem;
  line-height: 1rem;
  vertical-align: middle;
  margin-right: 0.25rem;
}

.group.--active .group__title::before {
  content: "keyboard_arrow_down";
}

.group.--static .group__title {
  /* background-color: #666; */
}


::-webkit-scrollbar {
  width: 8px;
  height: 100%;
  background-color: #2a2a2a;
}
::-webkit-scrollbar-thumb {
  background-color: #444;
}

button {
    font-size: 1rem;
    font-weight: 600;
    background: transparent;
    border: 1px solid transparent;
    color: #fff;
    box-shadow: none;
    padding: 0.5em 0.5em;
    margin: 0 0;
    display: inline-block;
    user-select: none;
}

button:hover {
  background-color: rgba(0,0,0,0.1);
  border: 1px solid #444;
}

button:focus {
  outline: 1px solid var(--accent-color);
}

input[type="text"] {
  font-size: 1.4rem;
  display: inline-block;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 3px solid #555;
  padding: 0.25rem 0rem;
  transition: 0.2s ease-out border;
  color: var(--accent-color);
  font-weight: 600;
}

input[type="text"]::placeholder {
  font-weight: 400;
  color: #777;
}

input[type="text"]:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 3px solid var(--accent-color);
  
}