html {

  --groups-panel-size: 18%;
  --actions-panel-size: 2.5rem;
  --selection-panel-size: 2.5rem;
  --editor-panel-size: 2.5rem;
  --bar-panels: calc(var(--editor-panel-size) + (var(--actions-panel-size) + var(--selection-panel-size)));
  --other-panels: calc(var(--bar-panels) + var(--groups-panel-size));
  --fonts-panel-size: calc(100% - var(--other-panels));

  --accent-color: #38c;
  --error-color: #b42;
  --success-color: #0b8;
  --delete-color: var(--error-color);
  --muted-color: rgba(255,255,255,0.5);

  --body-background-color: #323232;
  --body-color: #f0f0f0;
  --foreground-color: #fff;

  --panel-layer-0: #222;
  --panel-layer-1: #3a3a3a;
  --panel-layer-2: #444;
  --panel-border: 1px solid rgba(0,0,0,0.2);


  --panel-item: transparent;
  --panel-item-hover: rgba(255,255,255,0.1);

  --checkbox-background-color: var(--panel-layer-0);
  --checkbox-color: var(--foreground-color);

  --selected-background: var(--accent-color);
  --selected-color: var(--body-color);

  --button-hover: var(--panel-layer-2);
  --input-border: 3px solid #555;
  --input-border-active: 3px solid var(--accent-color);

  --scrollbar-track: var(--body-background-color);
  --scrollbar-thumb: #444;
}

/* Themes */
/* dark is the default theme */
body.theme--dark {}

body.theme--medium {
  --body-background-color: #535353;
  --body-color: #f0f0f0;
  --foreground-color: #fff;

  --panel-layer-0: #282828;
  --panel-layer-1: #6b6b6b;
  --panel-layer-2: #777;
  --panel-border: 1px solid rgba(0,0,0,0.2);
  --panel-item-hover: rgba(255,255,255,0.1);

  --button-hover: var(--panel-layer-2);
  --input-border: 3px solid #888;
  --input-border-active: 3px solid var(--accent-color);

  --scrollbar-track: #444;
  --scrollbar-thumb: #666;

}

body.theme--light {
  --accent-color: #6bb;
  --error-color: #600;
  --muted-color: rgba(0,0,0,0.5);

  --body-background-color: #b8b8b8;
  --body-color: #464646;
  --foreground-color: #222;

  --panel-layer-0: #b0b0b0;
  --panel-layer-1: #ccc;
  --panel-layer-2: #ddd;
  --panel-border: 1px solid transparent;

  --panel-item: var(--panel-layer-1);
  --panel-item-hover: var(--panel-layer-2);

  --selected-background: var(--accent-color);
  --selected-color: #000;

  --button-hover: var(--panel-layer-2);
  --input-border: 3px solid #777;
  --input-border-active: 3px solid var(--accent-color);

  --scrollbar-track: #b0b0b0;
  --scrollbar-thumb: #ccc;
}

body.theme--bright {
  --accent-color: #6cb;
  --error-color: #c64;
  --muted-color: rgba(0,0,0,0.75);

  --body-background-color: #f0f0f0;
  --body-color: #464646;
  --foreground-color: #222;

  --panel-layer-0: #e8e8e8;
  --panel-layer-1: #f6f6f6;
  --panel-layer-2: #fafafa;
  --panel-border: 1px solid rgba(0,0,0,0.075);

  --panel-item: var(--panel-layer-1);
  --panel-item-hover: var(--panel-layer-2);

  --selected-background: var(--accent-color);
  --selected-color: #000;

  --button-hover: var(--panel-layer-2);
  --input-border: 3px solid #d1d1d1;
  --input-border-active: 3px solid var(--accent-color);

  --scrollbar-track: #e8e8e8;
  --scrollbar-thumb: #f6f6f6;
}


/* base */

i.material-icons {
  font-size: 1.65rem;
  line-height: 1rem;
  vertical-align: middle;
}

body {
  background-color: var(--body-background-color);
  color:  var(--body-color);
  padding: 0rem 0rem;
  margin: 0 0;
  position: relative;
}

body.--resizing .selection-panel {
  display: none;
}

body.--resizing {
  cursor: none !important;
}

body.--resizing  .panels > *:not(.separator) {
  pointer-events: none;
}

/* inputs */

button {
    font-size: 1rem;
    font-weight: 600;
    background: transparent;
    border: 1px solid transparent;
    color: var(--foreground-color);
    box-shadow: none;
    padding: 0.5em 0.5em;
    margin: 0 0;
    display: inline-block;
    user-select: none;
}

button:hover {
  background-color: var(--button-hover);
  /* border: var(--panel-border); */
}

button:focus {
  outline: none;
  background-color: var(--panel-layer-2);
}

button.--disabled {
  color: var(--panel-layer-0);
  /* background-color: var(--panel-layer-0); */
}

input {
  font-size: 1.4rem;
  display: inline-block;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: var(--input-border);
  padding: 0.25rem 0rem;
  transition: 0.2s ease-out border;
  color: var(--accent-color);
  font-weight: 600;
  font-family: "Tahoma", sans-serif;
}

input::placeholder {
  font-weight: 400;
  color: var(--muted-color);
}

input:focus {
  box-shadow: none;
  outline: none;
  border-bottom: var(--input-border-active);
}

input::selection {
  background-color:var(--accent-color);
  color: var(---foreground-color);
}

/* helpers */

.tip {
  color: var(--foreground-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  display: inline-block;
}

/* global modifiers */
.--disabled {
  opacity: 0.75 !important;
  user-select: none !important;
  pointer-events: none !important;
}

.button-group {
  margin: 0 1rem;
}

/* Components */


.overlay {
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
}

.groups {
  background-color: var(--body-background-color);
  margin: 1rem 0;
}

.--compact .groups__list {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
}

.--compact .group {
  width: 16rem;
  border-radius: 6px;
  text-overflow: ellipsis;
  overflow-x: hidden;
}


.groups .groups__title {
  display: none;
  font-weight: 600;
  font-size: 1rem;
  margin: 0 0;
  padding: 0.5rem 0.8rem;
  border-bottom: var(--panel-border);
  position: sticky;
  top: 0rem;
  bottom: 0rem;
  background-color: var(--body-background-color);
  z-index: 2;
}

.groups .groups__list {
  font-size: 1.4rem;
  list-style: none;
  z-index: 1;
  position: relative;
  user-select: none;
}

.groups .empty {
  display: none;
  text-align: center;
  padding: 1rem 1rem;
}

.groups .empty span {
  display: inline-block;
  padding: 0.25rem;
  margin: 0.25rem 0 0.5rem 0;
}

.groups ul:empty + .empty {
  display: block;
}


.notification {
  display: inline-block;
  flex-grow: 2;
  color: var(--muted-color);
  margin-right: 1rem;
}

.warning {
  color: var(--error-color);
}

.actions-panel,
.selection-panel {
  user-select: none;
  padding: 0.25rem 2rem 0.25rem 1rem;
  border-top: var(--panel-border);
  display: flex;
  background-color: var(--panel-layer-1);
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.panel-buttons {
  display: flex;
  align-content: center;
  align-items: center;
}

.actions-panel {
  height: var(--actions-panel-size);
}

.selection-panel {
  height: var(--selection-panel-size);
}

.editor-panel {
  min-height: var(--selection-panel-size);
}

.actions button + button {
  margin-left: 0.25rem;
}

button.action.--active {
  background-color: var(--accent-color);
  color: var(--foreground-color);
}

.selection-panel {
  transform: translateY(100%);
  transition: 0.2s ease-in all;
}

.selection-panel.--active {
  background-color: var(--panel-layer-2);
  transform: translateY(0%);
  transition: 0.1s ease-out all;
}

.loading {
  display: none;
}

.--loading > .loading {
  display: block;
  color:var(--foreground-color);
  position: fixed;
  top: calc(33% - 5rem);
  left: calc(50% - 5rem);
  z-index: 4;
  margin: 0 0;
  padding: 0.25rem 1rem;
  border-radius: 6px;
}

.--loading > :not(.loading) {
  display: none;
}

.--deleting > :not(.deleter) {
  pointer-events: none;
}

.panels {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  height: calc(100vh);
}

.panels > .panel {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  user-select: none;
}

.groups-panel {
  height: var(--groups-panel-size);
  transition: 0.01s linear height;
}

.groups-panel.groups-panel--adaptive:hover {
  --groups-panel-size: 26%;
  transition: 0.2s ease-out height;
}

.separator {
  width: 100%;
  height: 7px;
  overflow-y: hidden;
  background-color: var(--panel-layer-0);
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  user-select: none;
}

.separator .handle {
  width: 16px;
  border-bottom: 1px dotted #000;
  border-top: 1px dotted #000;
  height: 3px;
  margin: 0 auto;
  margin-top: 1px;
  transition: 0.2s ease-out all;
}

.panels .separator:hover {
  cursor: row-resize;
  
}

.panels .separator:active {
  cursor: none;
}

.panels .separator:hover .handle {
  width: 32px;
  border-color: var(--panel-layer-2);
  transition: 0.2s ease-out all;
}

.panels .separator:active { 
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.fonts-panel {
  --font-panel-size: calc(var(--fonts-panel-size) - 6px);
  height: var(--font-panel-size);
  padding: 0rem 0rem;
}

.fonts-panel .loading-section {
  display: none;
  vertical-align: middle;
  align-content: center;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.fonts-panel.--loading .loading-section {
  display: flex;
}

.fonts-panel.--loading > *:not(.loading-section) {
  display: none;
}

.fonts {

}

.fonts__list {
  list-style: none;
  padding: 0rem 0;
  margin: 0rem 0;
  margin-bottom: 1rem;
}

.fonts__list + .fonts__empty {
  display: none;
}

.fonts__list:empty + .fonts__empty {
  color: var(--muted-color);
  display: flex;
  vertical-align: middle;
  align-content: center;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.fonts__list li {
  margin: 0 0;
}

.fonts__list li.empty {
  padding: 1rem 1rem;
  background-color: var(--body-background-color);
  color: var(--muted-color);
  font-size: 1.5rem;
  margin: 1rem auto;
  text-align: center;
}

.font {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  background-color: var(--panel-item);
  border-bottom: var(--panel-border);
  border-bottom-width: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  flex: 0 1 auto;
}

.font:hover {
  background-color: var(--panel-item-hover);
  cursor: default;
  user-select: none;
}

.font.--selected {
  background-color: var(--selected-background);
  color: var(--selected-color);
  transition: 0.1s ease-out background-color;
  position: sticky;
  top: 2.5rem;
  bottom: -1rem;
  z-index: 0;
}


.font__name  {
  font-size: 1.2rem;
}

.font__style-count {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0 1rem;
  color: var(--muted-color);
  user-select: none;
}

.font__preview {
  font-size: 2rem;
  line-height: 1em;
  font-feature-settings: normal;
  padding: 0 0.5rem;
  align-self: self-end;
  justify-self: flex-end;
  flex-grow: 2;
  text-align: right;
  user-select: none;
}


.no-groups {
  font-size: 1rem;
  opacity: 0.5;
  text-align: center;
  font-weight: 400;
  background-color: var(--panel-layer-0);
  padding: 1rem 1rem;
}

.fonts__inputs {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex: 0 1 auto;
  margin: 0 0;
  position: sticky;
  top: 0rem;
  background-color: var(--body-background-color);
  padding: 0.5rem 1rem;
  border-bottom: var(--panel-border);
  border-bottom-width: 1px;
  z-index: 2;
  visibility: visible;
  background-color: var(--panel-layer-1);
}


.fonts__inputs.--disabled {
  visibility: hidden;
}

.filter-icon.--active {
  color: var(--accent-color);
}

.fonts__inputs input {
  font-size: 1rem;
  display: inline-block;
  padding: 0 0.5rem;
  border: none;
  justify-content: space-between;
  color: var(--foreground-color);
}

.fonts__inputs i {
  display: inline-block;
  color: var(--muted-color);
  margin-right: 0.5rem;
}

.fonts__filter {
  display: flex;
  flex: 0 1 auto;
}

.fonts__clear-filter {
  border: none;
  padding: 0 0.5rem;
}

.fonts__clear-filter:hover {
  background-color: transparent;
}

.fonts__clear-filter i {
  color: var(--error-color);
}

.group {
  padding: 0 0;
  margin: 0 0;
  cursor: default;
  width: 100%;
  border-radius: 0px;
  transition: 0.2s ease-out all;
  position: relative;
  background-color: transparent;
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  border-bottom: var(--panel-border);
  align-items: center;
}

.group:hover {
  background-color: var(--panel-layer-1);
}

.group__items-count {
  margin-right: 1rem;
  font-size: 1rem;
  color: var(--muted-color);
}

.group__actions {
  /* background-color: var(--panel-layer-1); */
}

.group__actions button {
  border-radius: 3px;
  padding: 0 0;
  margin-right: 1rem;
  background-color: var(--checkbox-background-color);
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid transparent;
  transition: 0.1s ease-out all;
  /* cursor: pointer; */
}

.group__actions button i.material-icons {
  /* font-size: 2rem; */
}

.group__actions button:hover,
.group__actions button:active,
.group__actions button:focus {
  outline: none;
  border: 1px solid transparent;
  background-color: var(--checkbox-background-color);
}

.group__actions button:active {
  transform: scale(1.25);
  transform-origin: center center;
}

.group__actions button:hover {
  background-color: var(--accent-color);
}

.group__actions button.add {
  color: transparent;
}

.group__actions button.remove {
  color: var(--checkbox-color);
}

.group__delete {
  position: absolute;
  right: 0rem;
  padding: 0.25rem 0.5rem;
  color: var(--muted-color);
  transform: translateX(300%);
}

.group__delete:hover {
  color: var(--error-color);
}

.group__delete i {
  font-size: 1.8rem;
  transform: scale(1);
  transition: 0.2s ease-in transform;
}


.--allow-deletions .fonts__groups .group {
  margin-right: 4rem;
}

.--allow-deletions .group__delete {
  display: block;
  transform: translateX(150%);
  transition: 0.1s linear transform;
}

.group__title {
  font-size: 1rem;
  background-color: transparent;
  margin: 0 0;
  user-select: none;
  padding: 0.5rem 2rem;
}

.group__title:hover {
  
}

.group__list {
  display: none;
}

.group:active {
  background-color: var(--panel-layer-2);
}

.group.--selected {
  /* background-color: var(--panel-layer-2); */
  background-color: var(--accent-color);
  position: sticky;
  top: 0rem;
  bottom: 0;
  z-index: 2;
}

.group.--selected .group__title::before {
  color: var(--foreground-color);
}


.group__title::before {
  font-family: "Material Icons";
  content: "folder";
  font-size: 1.4rem;
  line-height: 1rem;
  vertical-align: middle;
  margin-right: 0.5rem;
  color: var(--muted-color);
}

.group.--selected .group__title::before {
  content: "folder";
}


.group-editor {
  padding: 0.5rem 1rem;
  background-color: var(--panel-layer-1);
  font-weight: 600;
  display: block;
  transition: 0.1s ease-out all;
  font-size: 1rem;
  position: relative;
  margin-bottom: 0rem;
  width: 100%;
  border-bottom: var(--panel-border);
  transition: 0.2s ease-out all;
}

.group-editor.--hidden {
  display: none;
}

.group-editor__title {
  display: inline-block;
  font-size: 1rem;
  margin: 0 0;
  border-bottom: 1px solid transparent;
  cursor: text;
}

.group-editor:focus-within {
  background-color: var(--accent-color);
  padding: 1rem 1rem;
}

.group-editor input {
  font-size: 1rem;
  border: none;
  font-weight: 600;
  padding: 0 0;
}


.group-editor input,
.group-editor input:active,
.group-editor input:focus {
  border: none;
  color: var(--foreground-color);
}

.group-editor__icon {
  user-select: none;
  font-size: 1.4rem;
  margin-right: 1rem;
  font-weight: 400;
  line-height: 1rem;
  vertical-align: middle;
  color: var(--muted-color);
}


::-webkit-scrollbar {
  width: 8px;
  height: 100%;
  background-color: var(--scrollbar-track);
  border-left: var(--panel-border);
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}

i.loading-circle {
  user-select: none;
  --scale: 2.5rem;
  --color: var(--muted-color);
  display: block;
  width: var(--scale);
  height: var(--scale);
  border-radius: 50%;
  border: 3px solid var(--color);
  border-top-color: transparent;
  background-color: transparent;
  animation: 0.6s linear loading-animation infinite;
}

@keyframes loading-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);

  }
}

