
html,
body {
  font-size: 10px;
  line-height: 1.6em;
  font-family: "Tahoma", sans-serif;
}

i.material-icons {
  font-size: 1.65rem;
}

body {
  background-color: #323232;
  color: #f0f0f0;
  padding: 0rem 0rem;
  margin: 0 0;
  margin-bottom: 2rem;
  position: relative;
}

.actions {
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  padding: 0rem 1rem;
  border-top: 1px solid rgba(0,0,0,0.25);
  text-align: right;
  background-color: #3a3a3a;
}

.actions__selection-actions {
  display: inline-block;
  margin-right: 0.5rem;
  border-right: 1px solid rgba(0,0,0,0.2);
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
}

.actions button + button {
  margin-left: 0.25rem;
}

.loading {
  display: none;
}

.--loading .loading {
  display: block;
}

.--loading:not(.loading) {
  display: none;
}

.font-list {
  padding: 1rem 1rem;
  overflow-y: scroll;
  height: calc(100vh - 6rem);
}

.font-list__list {
  list-style: none;
  padding: 0rem 0;
  margin: 0rem 0;
  border-top: 1px solid rgba(0,0,0,0.25);
}

.font-list__list li {
  margin: 0 0;
}


.font {
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  background-color: transparent;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  flex: 0 1 auto;
  height: 2.75rem;
}

.font:hover {
  background-color: rgba(0,0,0,0.2);
}


.font .font__name  {
  font-size: 1.2rem;
}

.font .font__style-count {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 1rem;
  color: #b2b2b2;
  user-select: none;
}

.font .font__preview {
  font-size: 2rem;
  line-height: 1.5em;
  font-feature-settings: normal;
  padding: 0 0.5rem;
  align-self: self-end;
  justify-self: flex-end;
  flex-grow: 2;
  text-align: right;
  user-select: none;
}

.font-list__inputs {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex: 0 1 auto;
  margin-bottom: 1rem;
}

/* .font-list__inputs input {
  transform: scale(1);
  transform-origin: left;
  transition: 0.1s ease-in-out all;
}

.font-list__inputs input:last-of-type {
  transform-origin: right;
}


.font-list__inputs input:focus {
  transform: scale(1.5);
  position: relative;
  z-index: 1;
} */

.group {
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 3px;
  margin-bottom: 1rem;
  padding: 0 0;
  margin: 0.5rem 0;
}

.group .group__title {
  font-size: 1rem;
  background-color: #444;
  margin: 0 0;
  padding: 0.5rem 0.5rem;
  user-select: none;
}

.group .group__list {
  display: none;
}

.group.--active .group__list {
  display: block;
}

.group .group__title::before {
  font-family: "Material Icons";
  content: "keyboard_arrow_right";
  font-size: 1.4rem;
  line-height: 1rem;
  vertical-align: middle;
  margin-right: 0.25rem;
}

.group.--active .group__title::before {
  content: "keyboard_arrow_down";
}

.group.--static .group__title {
  /* background-color: #666; */
}

::-webkit-scrollbar {
  width: 8px;
  height: 100%;
  background-color: #2a2a2a;
}
::-webkit-scrollbar-thumb {
  background-color: #444;
}
/* 
::-webkit-scrollbar-button  {}
::-webkit-scrollbar-track {}
::-webkit-scrollbar-track-piece {} */

button {
    font-size: 1rem;
    font-weight: 600;
    background: transparent;
    border: 1px solid transparent;
    color: #fff;
    box-shadow: none;
    padding: 0.25em 0.5em;
    margin-bottom: 0.5rem;
    margin: 0 0;
    display: inline-block;
    user-select: none;
}

button:hover {
  background-color: rgba(0,0,0,0.1);
  border: 1px solid #444;
}

input[type="text"] {
  background-color: #111;
  color: #eee;
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
}