<script>
  import { onMount } from "svelte";
  import { slide } from "svelte/transition";
  import Icon from "components/Icon.html";

  const styles = ["sans-serif", "cursive", "monospace", "serif", "fantasy"];
  let index = 0;
  let selectedFamily = null;
  let disclaimerClicked = true;

  onMount(() => {
    const callback = event => selectedFamily = event.detail || null;
    document.body.addEventListener("app-font-change", callback);
    return () => document.body.removeEventListener("app-font-change", callback);
  })

  </script>
<div class="canvas" style="font-family: {styles[index]};">
    <h1>Fuse Fonts Demo</h1>
    <p>
      You can get the feel of how Fuse Fonts will help you by playing around with it. 
    </p>
    <p>
      {#if selectedFamily !== null}
      
        <strong>Last selected:</strong>
        <br /> 
        <span class="font" style="font-family: {selectedFamily.family};">{selectedFamily.family}</span>, {selectedFamily.fontStyle}.
      {:else}
        Select a font from the Fuse Fonts panel <Icon icon="arrow_forward" color="var(--accent-color)" size="large" />
      {/if}
    </p>

</div>

<div class="disclaimer" on:click="{ () => disclaimerClicked = !disclaimerClicked}" title={disclaimerClicked ? "Show" : "Hide"} >
  {#if !disclaimerClicked}
  <div in:slide={{ duration: 200 }}>
    <p>
      <span class="icon-container">
        <Icon icon="warning" />
      </span>
        <strong>This page is a sample application to feature Fuse Fonts functionality.</strong>
      </p>
      <p class="muted">
        The fonts listed may not be on your device, and some features won't work fully—like they would within photoshop.
      </p>
    </div>
    {:else}
    <div in:slide={{ duration: 200 }}>
      <Icon icon="warning" />
    </div>
    {/if}
</div>
<style>

  .canvas {
    width: 250px;
    height: 250px;
    background-color: #fff;
    padding: 10px;
    border: var(--panel-border);
    color: #000;
    font-size: 1.4rem;
    overflow: hidden;
    line-height: 1.816em;
  }

  .disclaimer {
    cursor: pointer;
    border-radius: 6px;
    position: fixed;
    bottom: 3rem;
    left: 8rem;
    background-color: var(--notifications-panel);
    padding: 1.5rem 2rem;
    transform: translateY(0px);
    transition: 0.2s ease-in transform;
  }

  .disclaimer p {
    margin: 0 0 1rem 0;
  }

  .disclaimer:hover {
    transform: translateY(-4px);
  }

  .muted {
  color: var(--muted-color);
}

  .icon-container {
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  h1 {
    margin: 0 0 1rem 0;
  }

</style>