node_modules/

# zxp sign utility
ZXPSignCmd.*
*.cert
*.p12
*.zxp
.DS_Store
bin/**.*
bin/

# built files
dist/**.*
build/**/*
build/client
build/host
build/csxs
client/scripts/bundle.js
client/stylesheets/main.css
client/stylesheets/main.css.map
public/scripts/bundle.js
public/scripts/*.bundle.js
public/stylesheets/main.css
public/stylesheets/main.css.map
public/stylesheets/plugin.css
public/stylesheets/plugin.css.map
public/stylesheets/index.css
public/stylesheets/index.css.map
installer/
installer/**/*
.env

# firebase files and dirs
firebase-debug.log
.firebase
.firebaserc