html {

  --groups-panel-size: 18%;
  --actions-panel-size: 2.5rem;
  --selection-panel-size: 2.5rem;
  --editor-panel-size: 2.8rem;
  --filters-panel-size: 2.5rem;
  --bar-panels: calc(var(--editor-panel-size) + (var(--actions-panel-size) + var(--selection-panel-size)));
  --other-panels: calc((var(--bar-panels) + var(--groups-panel-size)) + var(--filters-panel-size));
  --fonts-panel-size: calc(100% - var(--other-panels));

  --accent-color: #38c;
  --error-color: #b42;
  --success-color: #0b8;
  --delete-color: var(--error-color);
  --muted-color: rgba(255,255,255,0.5);

  --body-background-color: #323232;
  --body-color: #f0f0f0;
  --foreground-color: #fff;

  --panel-layer-0: #222;
  --panel-layer-1: #3a3a3a;
  --panel-layer-2: #444;
  --panel-border-color: rgba(0,0,0,0.2);
  --panel-border: 1px solid var(--panel-border-color);


  --panel-item: transparent;
  --panel-item-hover: rgba(255,255,255,0.1);

  --checkbox-background-color: var(--panel-layer-0);
  --checkbox-color: var(--foreground-color);

  --selected-background: var(--accent-color);
  --selected-color: var(--body-color);

  --button-hover: var(--panel-layer-2);
  --input-border: 3px solid #555;
  --input-border-active: 3px solid var(--accent-color);

  --scrollbar-track: var(--body-background-color);
  --scrollbar-thumb: #444;
}

/* Themes */
/* dark is the default theme */
body.theme--dark {}

body.theme--medium {
  --body-background-color: #535353;
  --body-color: #f0f0f0;
  --foreground-color: #fff;

  --panel-layer-0: #282828;
  --panel-layer-1: #6b6b6b;
  --panel-layer-2: #777;
  --panel-border: 1px solid rgba(0,0,0,0.2);
  --panel-item-hover: rgba(255,255,255,0.1);

  --button-hover: var(--panel-layer-2);
  --input-border: 3px solid #888;
  --input-border-active: 3px solid var(--accent-color);

  --scrollbar-track: #444;
  --scrollbar-thumb: #666;

}

body.theme--light {
  --accent-color: #6bb;
  --error-color: #600;
  --muted-color: rgba(0,0,0,0.5);

  --body-background-color: #b8b8b8;
  --body-color: #464646;
  --foreground-color: #222;

  --panel-layer-0: #b0b0b0;
  --panel-layer-1: #ccc;
  --panel-layer-2: #ddd;
  --panel-border: 1px solid transparent;

  --panel-item: var(--panel-layer-1);
  --panel-item-hover: var(--panel-layer-2);

  --selected-background: var(--accent-color);
  --selected-color: #000;

  --button-hover: var(--panel-layer-2);
  --input-border: 3px solid #777;
  --input-border-active: 3px solid var(--accent-color);

  --scrollbar-track: #b0b0b0;
  --scrollbar-thumb: #ccc;
}

body.theme--bright {
  --accent-color: #6cb;
  --error-color: #c64;
  --muted-color: rgba(0,0,0,0.75);

  --body-background-color: #f0f0f0;
  --body-color: #464646;
  --foreground-color: #222;

  --panel-layer-0: #e8e8e8;
  --panel-layer-1: #f6f6f6;
  --panel-layer-2: #fafafa;
  --panel-border: 1px solid rgba(0,0,0,0.075);

  --panel-item: var(--panel-layer-1);
  --panel-item-hover: var(--panel-layer-2);

  --selected-background: var(--accent-color);
  --selected-color: #000;

  --button-hover: var(--panel-layer-2);
  --input-border: 3px solid #d1d1d1;
  --input-border-active: 3px solid var(--accent-color);

  --scrollbar-track: #e8e8e8;
  --scrollbar-thumb: #f6f6f6;
}


::-webkit-scrollbar {
  width: 8px;
  height: 100%;
  background-color: var(--scrollbar-track);
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}




/* base */

i.material-icons {
  font-size: 1.65rem;
  line-height: 1rem;
  vertical-align: middle;
}

body {
  background-color: var(--body-background-color);
  color:  var(--body-color);
  padding: 0rem 0rem;
  margin: 0 0;
  position: relative;
  height: 100vh;
}

body.--resizing .selection-panel {
  display: none;
}

body.--resizing {
  cursor: none !important;
}

body.--resizing  .panels > *:not(.separator) {
  pointer-events: none;
}

/* inputs */

button {
    font-size: 1rem;
    font-weight: 600;
    background: transparent;
    border: 1px solid transparent;
    color: var(--foreground-color);
    box-shadow: none;
    padding: 0.5em 0.5em;
    margin: 0 0;
    display: inline-block;
    user-select: none;
}

button:hover {
  background-color: var(--button-hover);
  /* border: var(--panel-border); */
}

button:focus {
  outline: none;
  background-color: var(--panel-layer-2);
}

button.--disabled {
  color: var(--panel-layer-0);
  /* background-color: var(--panel-layer-0); */
}

input {
  font-size: 1.4rem;
  display: inline-block;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: var(--input-border);
  padding: 0.25rem 0rem;
  transition: 0.2s ease-out border;
  color: var(--accent-color);
  font-weight: 600;
  font-family: "Tahoma", sans-serif;
}

input::placeholder {
  font-weight: 400;
  color: var(--muted-color);
}

input:focus {
  box-shadow: none;
  outline: none;
  border-bottom: var(--input-border-active);
}

input::selection {
  background-color:var(--accent-color);
  color: var(---foreground-color);
}

/* helpers */

.tip {
  color: var(--foreground-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  display: inline-block;
}

/* global modifiers */
.--disabled {
  opacity: 0.75 !important;
  user-select: none !important;
  pointer-events: none !important;
}

.button-group {
  margin: 0 1rem;
}

/* Components */


.overlay {
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
}


.notification {
  display: inline-block;
  flex-grow: 2;
  color: var(--muted-color);
  margin-right: 1rem;
}

.warning {
  color: var(--error-color);
}
/* 
.actions-panel,
.selection-panel {
  user-select: none;
  padding: 0.25rem 2rem 0.25rem 1rem;
  border-top: var(--panel-border);
  display: flex;
  background-color: var(--panel-layer-1);
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.panel-buttons {
  display: flex;
  align-content: center;
  align-items: center;
}

.actions-panel {
  height: var(--actions-panel-size);
}

.selection-panel {
  height: var(--selection-panel-size);
}

.editor-panel {
  min-height: var(--selection-panel-size);
}

.actions button + button {
  margin-left: 0.25rem;
}

button.action.--active {
  background-color: var(--accent-color);
  color: var(--foreground-color);
}

.selection-panel {
  transform: translateY(100%);
  transition: 0.2s ease-in all;
}

.selection-panel.--active {
  background-color: var(--panel-layer-2);
  transform: translateY(-1px);
  transition: 0.1s ease-out all;
}



.--loading > :not(.loading) {
  display: none;
}

.panels {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  height: calc(100vh);
}

.panels > .panel {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  user-select: none;
}

.groups-panel {
  height: var(--groups-panel-size);
  overflow-y: auto !important;
} */