html {

  --groups-panel-size: 18%;
  --actions-panel-size: 2.5rem;
  --other-panels: calc(7px + var(--groups-panel-size));
  --fonts-panel-size: calc(100% - var(--other-panels));

  --accent-color: #38c;
  --muted-accent-color: #369;
  --error-color: #b42;
  --success-color: #0b8;
  --delete-color: var(--error-color);
  --muted-color: rgba(255,255,255,0.5);

  --body-background-color: #323232;
  --body-color: #f0f0f0;
  --foreground-color: #fff;

  --notifications-panel: #111;
  --panel-layer-0: #222;
  --panel-layer-1: #3a3a3a;
  --panel-layer-2: #444;
  --panel-layer-3: #666;

  --panel-border-color: rgba(0,0,0,0.2);
  --panel-border: 1px solid var(--panel-border-color);


  --panel-item: transparent;
  --panel-item-hover: rgba(255,255,255,0.1);

  --checkbox-background-color: var(--panel-layer-0);
  --checkbox-color: var(--foreground-color);

  --selected-background: var(--accent-color);
  --selected-color: var(--body-color);

  --button-hover: var(--panel-layer-2);
  --input-border: 3px solid #555;
  --input-border-active: 3px solid var(--accent-color);

  --scrollbar-track: var(--body-background-color);
  --scrollbar-thumb: #444;
}

/* Themes */
/* dark is the default theme */
body.theme--dark {}

body.theme--medium {
  --body-background-color: #535353;
  --body-color: #f0f0f0;
  --foreground-color: #fff;

  --panel-layer-0: #454545;
  --panel-layer-1: #5a5a5a;
  --panel-layer-2: #666;
  --panel-layer-3: #6b6b6b;

  --panel-border: 1px solid rgba(0,0,0,0.2);
  --panel-item-hover: rgba(255,255,255,0.1);

  --button-hover: var(--panel-layer-2);
  --input-border: 3px solid #888;
  --input-border-active: 3px solid var(--accent-color);

  --scrollbar-track: #454545;
  --scrollbar-thumb: #666;

  --notifications-panel: #333;
}

body.theme--light {
  --accent-color: #6bb;
  --muted-accent-color: #6faaaa;
  --error-color: #600;
  --muted-color: rgba(0,0,0,0.5);
  

  --body-background-color: #b8b8b8;
  --body-color: #464646;
  --foreground-color: #222;

  --panel-layer-0: #b0b0b0;
  --panel-layer-1: #ccc;
  --panel-layer-2: #ddd;
  --panel-layer-3: #f0f0f0;
  --panel-border: 1px solid transparent;

  --panel-item: var(--panel-layer-1);
  --panel-item-hover: var(--panel-layer-2);

  --selected-background: var(--accent-color);
  --selected-color: #000;

  --button-hover: var(--panel-layer-2);
  --input-border: 3px solid #777;
  --input-border-active: 3px solid var(--accent-color);

  --scrollbar-track: #b0b0b0;
  --scrollbar-thumb: #ccc;

  --notifications-panel: #333;
}

body.theme--bright {
  --accent-color: #99d8ce;
  --muted-accent-color: #90c5bc;
  --error-color: #c64;
  --muted-color: rgba(0,0,0,0.75);

  --body-background-color: #f0f0f0;
  --body-color: #464646;
  --foreground-color: #222;

  --panel-layer-0: #e8e8e8;
  --panel-layer-1: #f6f6f6;
  --panel-layer-2: #fafafa;
  --panel-layer-3: #fff;

  --panel-border: 1px solid rgba(0,0,0,0.075);

  --panel-item: var(--panel-layer-1);
  --panel-item-hover: var(--panel-layer-2);

  --selected-background: var(--accent-color);
  --selected-color: #000;

  --button-hover: var(--panel-layer-2);
  --input-border: 3px solid #d1d1d1;
  --input-border-active: 3px solid var(--accent-color);

  --scrollbar-track: #e8e8e8;
  --scrollbar-thumb: #f6f6f6;
}


::-webkit-scrollbar {
  width: 8px;
  height: 100%;
  background-color: var(--scrollbar-track);
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}




/* base */

i.material-icons {
  font-size: 1.65rem;
  line-height: 1rem;
  vertical-align: middle;
}

body {
  background-color: var(--body-background-color);
  color:  var(--body-color);
  padding: 0rem 0rem;
  margin: 0 0;
  position: relative;
  height: 100vh;
}

body.--resizing .selection-panel {
  display: none;
}

body.--resizing {
  cursor: none !important;
}

body.--resizing  .panels > *:not(.separator) {
  pointer-events: none;
}

/* inputs */

button {
    font-size: 1rem;
    font-weight: 600;
    background: transparent;
    border: 1px solid transparent;
    color: var(--foreground-color);
    box-shadow: none;
    padding: 0.5em 0.5em;
    margin: 0 0;
    display: inline-block;
    user-select: none;
}

button:hover {
  background-color: var(--button-hover);
}

button:focus {
  outline: none;
  background-color: var(--panel-layer-2);
}

button.--disabled {
  color: var(--panel-layer-0);
}