
.group-editor {
  padding: 0.5rem 1rem;
  background-color: var(--panel-layer-1);
  font-weight: 600;
  display: block;
  transition: 0.1s ease-out all;
  font-size: 1rem;
  position: relative;
  margin-bottom: 0rem;
  width: 100%;
  border-bottom: var(--panel-border);
  transition: 0.2s ease-out all;
}

.group-editor.--hidden {
  display: none;
}

.group-editor__title {
  display: inline-block;
  font-size: 1rem;
  margin: 0 0;
  border-bottom: 1px solid transparent;
  cursor: text;
}

.group-editor:focus-within {
  background-color: var(--accent-color);
  padding: 1rem 1rem;
}

.group-editor input {
  font-size: 1rem;
  border: none;
  font-weight: 600;
  padding: 0 0;
}


.group-editor input,
.group-editor input:active,
.group-editor input:focus {
  border: none;
  color: var(--foreground-color);
}

.group-editor__icon {
  user-select: none;
  font-size: 1.4rem;
  margin-right: 1rem;
  font-weight: 400;
  line-height: 1rem;
  vertical-align: middle;
  color: var(--muted-color);
}
