

.fonts-panel {
  --font-panel-size: calc(var(--fonts-panel-size) - 6px);
  height: var(--font-panel-size);
  padding: 0rem 0rem;
}

.fonts-panel .loading-section {
  display: none;
  vertical-align: middle;
  align-content: center;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.fonts-panel.--loading .loading-section {
  display: flex;
}

.fonts-panel.--loading > *:not(.loading-section) {
  display: none;
}

.fonts {

}

.fonts__list {
  list-style: none;
  padding: 0rem 0;
  margin: 0rem 0;
  margin-bottom: 1rem;
}

.fonts__list + .fonts__empty {
  display: none;
}


.fonts__list li {
  margin: 0 0;
}

.font {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  background-color: var(--panel-item);
  border-bottom: var(--panel-border);
  border-bottom-width: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  flex: 0 1 auto;
}

.font:hover {
  background-color: var(--panel-item-hover);
  cursor: default;
  user-select: none;
}

.font.--selected {
  background-color: var(--selected-background);
  color: var(--selected-color);
  transition: 0.1s ease-out background-color;
  position: sticky;
  top: 0rem;
  bottom: 0rem;
  z-index: 0;
}


.font__name  {
  font-size: 1.2rem;
}

.font__style-count {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0 1rem;
  color: var(--muted-color);
  user-select: none;
}

.font__preview {
  font-size: 2rem;
  line-height: 1em;
  font-feature-settings: normal;
  padding: 0 0.5rem;
  align-self: self-end;
  justify-self: flex-end;
  flex-grow: 2;
  text-align: right;
  user-select: none;
}

.fonts__empty {
  display: none;
}

.fonts__no-selection {
  display: flex;
}

.fonts__empty,
.fonts__no-selection {
  color: var(--muted-color);
  vertical-align: middle;
  align-content: center;
  height: 80%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.--has-selection .fonts__list:empty + .fonts__empty {
  display: flex;
}

.--has-selection .fonts__no-selection {
  display: none;
}

.fonts__inputs {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex: 0 1 auto;
  margin: 0 0;
  background-color: var(--body-background-color);
  padding: 0.5rem 1rem;
  border-bottom: var(--panel-border);
  border-bottom-width: 1px;
  visibility: visible;
  background-color: var(--panel-layer-1);
}


.fonts__inputs.--disabled {
  visibility: hidden;
  pointer-events: none;
}

.filter-icon.--active {
  color: var(--accent-color);
}

.fonts__inputs input {
  font-size: 1rem;
  display: inline-block;
  padding: 0 0.5rem;
  border: none;
  justify-content: space-between;
  color: var(--foreground-color);

}

.fonts__inputs i {
  display: inline-block;
  color: var(--muted-color);
  margin-right: 0.5rem;
}

input.fonts__filter {
  width: calc(100% - 6.5rem);
}

.fonts__clear-filter {
  border: none;
  padding: 0 0.5rem;
}

input.fonts__text {
  text-align: right;
  width: 10rem;
  padding-right: 1.5rem;
}

.fonts__clear-filter:hover {
  background-color: transparent;
}

.fonts__clear-filter i {
  color: var(--foreground-color);
}
