
.group {
  padding: 0 0;
  margin: 0 0;
  cursor: default;
  width: 100%;
  border-radius: 0px;
  transition: 0.2s ease-out all;
  position: relative;
  background-color: transparent;
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  border-bottom: var(--panel-border);
  align-items: center;
}

.group:hover {
  background-color: var(--panel-layer-1);
}

.group__items-count {
  margin-right: 1rem;
  font-size: 1rem;
  color: var(--muted-color);
}

.group__actions {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}

.group__actions button {
  border-radius: 3px;
  padding: 0 0;
  margin-right: 1rem;
  background-color: var(--checkbox-background-color);
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid transparent;
  transition: 0.1s ease-out all;
  /* cursor: pointer; */
}

.group__actions button i.material-icons {
  /* font-size: 2rem; */
}

.group__actions button:hover,
.group__actions button:active,
.group__actions button:focus {
  outline: none;
  border: 1px solid transparent;
  background-color: var(--checkbox-background-color);
}

.group__actions button:active {
  transform: scale(1.25);
  transform-origin: center center;
}

.group__actions button:hover {
  background-color: var(--accent-color);
}

.group__actions button.add {
  color: transparent;
}

.group__actions button.remove {
  color: var(--checkbox-color);
}


.group__delete:hover {
  color: var(--error-color);
}

.group__title {
  font-size: 1rem;
  background-color: transparent;
  margin: 0 0;
  user-select: none;
  padding: 0.5rem 2rem 0.5rem 3rem;
}

.group__title:hover {
  
}

.group__list {
  display: none;
}

.group:active {
  background-color: var(--panel-layer-2);
}

.group.--selected {
  background-color: var(--panel-layer-2);
  position: sticky;
  top: 0rem;
  bottom: 0;
  z-index: 2;
}

.group.--selected .group__title::before {
  color: var(--foreground-color);
}


.group__title::before {
  font-family: "Material Icons";
  content: "folder";
  font-size: 1.4rem;
  line-height: 1rem;
  vertical-align: middle;
  margin-right: 1rem;
  color: var(--muted-color);
}

.group[data-group-name="All Fonts"] {
  width: 100% !important;
  border-radius: 0px;
  
}

.group[data-group-name="All Fonts"] .group__title {
  /* padding-left: 1rem; */
}

.group[data-group-name="All Fonts"] .group__title::before{
  content: "menu";
}



.groups {
  background-color: var(--body-background-color);
  margin: 0.5rem 0 2rem 0;
}

.groups .groups__list {
  font-size: 1.4rem;
  list-style: none;
  z-index: 1;
  position: relative;
  user-select: none;
}

.groups .empty {
  display: none;
  text-align: center;
  padding: 1rem 1rem;
}

.groups .empty span {
  display: inline-block;
  padding: 0.25rem;
  margin: 0.25rem 0 0.5rem 0;
}

.groups ul:empty + .empty {
  display: block;
}

/* COMPACT MODE */
.--compact .groups__list {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
}

.--compact .group {
  width: 14rem;
  border-radius: 6px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  position: relative;
  border: none;
}

