
.separator {
  width: 100%;
  height: 7px;
  overflow-y: hidden;
  background-color: var(--panel-layer-0);
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  user-select: none;
}

.separator .handle {
  width: 16px;
  border-bottom: 1px dotted #000;
  border-top: 1px dotted #000;
  height: 3px;
  margin: 0 auto;
  margin-top: 1px;
  transition: 0.2s ease-out all;
}

.panels .separator:hover {
  cursor: row-resize;
  
}

.panels .separator:active {
  cursor: none;
}

.panels .separator:hover .handle {
  width: 32px;
  border-color: var(--panel-layer-2);
  transition: 0.2s ease-out all;
}

.panels .separator:active { 
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
