<section class="actions-panel">
  
  <div class="panel-buttons">
    <span class="button-group">
      <IconButton icon="view_list" />
      <IconButton icon="view_module" disabled={true} />
      <!-- <button class="action view-as-list --disabled" title="List view">
        <i class="material-icons">view_list</i>
      </button>
      <button class="action view-as-grid" title="Grid view">
        <i class="material-icons">view_module</i>
      </button> -->
    </span>
    <IconButton icon="folder" title="Create new group" on:click={createGroup} />
    <IconButton icon="delete" title="Delete selected group" />
    <!-- <button class="action create-group" title="Create new custom group">
      <i class="material-icons">folder</i>
    </button>
    <button class="action --disabled toggle-group-deletions" title="Allow groups to be deleted">
      <i class="material-icons">delete</i>
    </button> -->
  </div>

</section>

<style>

  .actions-panel {
    padding: 0.5rem 0.5rem;
    border-top: var(--panel-border);
    /* margin: 0rem -1rem -1rem -1rem; */
  }

</style>

  <script>

    import IconButton from "components/IconButton.html";

    import { customGroups } from "stores/custom-groups.js";

    import CustomGroup from "datatypes/custom-group.js";

    const createGroup = (e) => {
      customGroups.update(values => {
        let group = new CustomGroup(CustomGroup.getDefaultName(values), false);
        return [...values, group]
      });
    }

  </script>