<section class="actions-panel">
  
  <div class="panel-buttons">

    <IconButton icon="folder" title="Create new group" on:click={createGroup} />

    <span class="button-group">
      <IconButton icon="view_list" disabled={!listView} on:click={toggleView} />
      <IconButton icon="view_module" disabled={listView} on:click={toggleView} />
    </span>
    
    <IconButton disabled={isDeleteDisabled} icon="delete" title="Delete selected group" on:click={deleteGroup} />
    
  </div>

</section>

<style>

  .panel-buttons {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
  }

  .actions-panel {
    padding: 0.5rem 0.5rem;
    border-top: var(--panel-border);
  }

</style>

  <script>
    
    import IconButton from "components/IconButton.html";
    import { customGroups, selected } from "stores/custom-groups.js";
    import CustomGroup from "datatypes/custom-group.js";


    export let listView = true;
    
    let isDeleteDisabled = false;

    selected.subscribe( group => {
      // don't allow deleting permanent or empty groups
      isDeleteDisabled = group === null || group.permanent;
    })




    const toggleView = () => {
      listView = !listView;
    }

    function createGroup(e) {
      customGroups.update(values => {
        let group = new CustomGroup(CustomGroup.getDefaultName(values), null, false);
        return [...values, group]
      });
    }

    function deleteGroup(e) {
      const deletedGroup = $selected;
      selected.set(null);
      customGroups.update( groups => groups.filter(group => group.ID !== deletedGroup.ID));
    }

  </script>