<section class="actions-panel">
  
  <div class="panel-buttons">
    <span class="button-group">
      <IconButton icon="view_list" disabled={!listView} on:click={toggleView} />
      <IconButton icon="view_module" disabled={listView} on:click={toggleView} />
    </span>
    <IconButton icon="folder" title="Create new group" on:click={createGroup} />
    <IconButton icon="delete" title="Delete selected group" />
  </div>

</section>

<style>

  .actions-panel {
    padding: 0.5rem 0.5rem;
    border-top: var(--panel-border);
  }

</style>

  <script>
    
    export let listView = true;

    import IconButton from "components/IconButton.html";

    import { customGroups } from "stores/custom-groups.js";

    import CustomGroup from "datatypes/custom-group.js";

    const toggleView = () => {
      listView = !listView;
    }

    const createGroup = (e) => {
      customGroups.update(values => {
        let group = new CustomGroup(CustomGroup.getDefaultName(values), false);
        return [...values, group]
      });
    }

  </script>