<div class="custom-groups">
  <ul class:custom-groups-list={listView} class:custom-groups-tiles={!listView}>
    <li>
      <CustomGroup group={$allFontsGroup} selected={$selected===$allFontsGroup} on:click={selectGroup} />
    </li>
    
    {#each $customGroups as group, i (group.ID)}
      <li>
        <CustomGroup {group} selected={$selected === group} on:click={selectGroup} on:dropped={addSelectionToGroup} />
      </li>
    {:else}
      <div class="empty">
        <p>No Custom Groups</p>
      </div>
    {/each}
  </ul>

  <div class="custom-groups-actions">
    <ActionsPanel bind:listView={listView} />
  </div>
</div>

<style>
  .custom-groups {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .custom-groups-list {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0.5rem 0rem 0.5rem 0rem;
    height: calc(100% - 2.5rem);
  }

  .custom-groups-list li {
    display: block;
    border-bottom: var(--panel-border);
  }

  .custom-groups-actions {
    background-color: var(--panel-layer-1);
  }

  .empty {
    padding: 1rem 1rem;
    text-align: center;
    color: var(--muted-color);
  }

  .custom-groups-tiles {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0.5rem 0rem 0.5rem 0rem;
    height: calc(100% - 2.5rem);

    display: flex;
    width: 100%;
    flex: 0 1 auto;
    border-radius: 3px;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .custom-groups-tiles li {
    width: 25%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
</style>

<script>

  import { fly } from 'svelte/transition';

  import ActionsPanel from "components/ActionsPanel.html";
  import CustomGroup from "components/CustomGroup.html";

  import { selected, customGroups, allFontsGroup } from "stores/custom-groups.js";
  import { selected as selectedFonts } from "stores/font-selection.js";

  let listView = true;

  function selectGroup(e) {
    console.log("selected", e.data)
    selected.set(e.data);
  }

  function addSelectionToGroup(e) {
    const groupID = e.detail;
    const group = $customGroups.find(group => group.ID === groupID);
    
    if (group) {
      customGroups.update(groups => {
        const typefaces = selectedFonts.get();
        group.typefaces.merge(typefaces);
        return groups;
      });
    }
  }

</script>