<li class="group" class:selected on:click={setEventData} on:click>
  <Icon icon={group.permanent ? "view_headline" : "folder" } />
  <h1 class="group-name">{group.name}</h1>
</li>

<style>
  li {
    list-style: none;
  }

  .group {
    padding: 0 0 0 0.5rem;
    margin: 0 0;
    cursor: default;
    width: 100%;
    border-radius: 0px;
    transition: 0.2s ease-out all;
    position: relative;
    background-color: transparent;
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    border-bottom: var(--panel-border);
    align-items: center;
  }

  .group:hover {
    background-color: var(--panel-layer-1);
  }

  .group.selected {
    background-color: var(--panel-layer-2);
    position: sticky;
    top: 0rem;
    bottom: 0;
    z-index: 2;
  }

  .group-name {
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 0 0;
  }


</style>

<script>
  import Icon from "components/Icon.html";
  export let group = null;
  export let selected = false;


  function setEventData(event) {
    event.data = selected ? null : group;
  }

</script>