<div class="custom-groups">
  <ul class="custom-groups-list">
    <li>
      <CustomGroup group={$allFontsGroup} selected={$selected===$allFontsGroup} on:click={selectGroup} />
    </li>
    
    {#each $customGroups as group, i (group.name)}
      <li in:fly={{ y: 50, duration: 400, delay: (i * 40) }}>
        <CustomGroup {group} selected={$selected === group} on:click={selectGroup} on:dropped={addSelectionToGroup} />
      </li>
    {:else}
      <div class="empty">
        <p>No Custom Groups</p>
      </div>
    {/each}
  </ul>

  <div class="custom-groups-actions">
    <ActionsPanel  />
  </div>
</div>

<style>
  .custom-groups {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .custom-groups-list {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0.5rem 0rem 0.5rem 0rem;
    height: calc(100% - 2.5rem);
  }

  .custom-groups-list li {
    display: block;
  }

  .custom-groups-actions {
    background-color: var(--panel-layer-1);
  }

  .empty {
    padding: 1rem 1rem;
    text-align: center;
    color: var(--muted-color);
  }
</style>

<script>

  import { fly } from 'svelte/transition';

  import ActionsPanel from "components/ActionsPanel.html";
  import CustomGroup from "components/CustomGroup.html";

  import { selected, customGroups, allFontsGroup } from "stores/custom-groups.js";
  import { selected as selectedFonts } from "stores/font-selection.js";

  function selectGroup(e) {
    console.log("selectGroup:", e.data)
    selected.set(e.data);
  }

  function addSelectionToGroup(e) {
    const groupName = e.detail;
    console.log("CustomGroupList.html: dropped fonts into", groupName)
    const group = $customGroups.find(group => group.name === groupName);
    
    if (group) {
      customGroups.update(groups => {
        const typefaces = selectedFonts.get();
        group.typefaces.merge(typefaces);
        return groups;
      });
    }
  }

</script>