<i class="material-icons"
  style="color: {c}; {fontSize}"
  class:disabled
  on:click
  on:mouseenter={() => hovering = true}
  on:mouseleave={() => hovering = false}
>{icon}</i>

<style>
  .disabled {
    color: var(--panel-layer-0) !important;
    pointer-events: none;
  }
</style>

<script>
  let hovering = false;
  export let color = "inherit";
  export let hover = null;
  export let icon = "report";
  export let disabled = false;
  export let size = null;
  $: fontSize = size === null ? "" : `font-size: ${size};`;
  $: c = hover !== null && hovering ? hover : color;
  
</script>