<script>
  
  import { fly } from "svelte/transition";
  import { selected } from "stores/font-selection.js";
  
  let count = 0;
  let display = false;
  selected.subscribe( value => {
    count = value ? Object.keys(value).length : 0;
    display = count > 0;
  });

</script>

{#if display }
  <section class="selection" transition:fly={{ y: 100, duration: 100 }}>
    <span class="count">{count} selected</span>
  </section>
{/if}

<style>
  .selection {
    font-size: 1rem;
    position: fixed;
    bottom: 1rem;
    width: auto;
    padding: 0.25rem 1rem;
    border-radius: 3px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--accent-color);
  }

</style>