<script>
  
  import { fly, fade } from "svelte/transition";
  import { selected } from "stores/font-selection.js";
  
  let count = 0;

  selected.subscribe( value => {
    count = value ? Object.keys(value).length : 0;


  });

</script>

{#if count > 0 }
  <section class="popover" transition:fly={{ y: 100, duration: 100 }}>
    <div class="count">{count} selected</div>
  </section>
{/if}

<style>
  .popover {
    font-size: 1rem;
    position: fixed;
    bottom: 1rem;
    width: auto;
    padding: 0.25rem 1rem;
    border-radius: 3px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--accent-color);
    text-align: center;
  }

</style>