<article class="typeface-container" bind:this={el}>
  <main 
    class="typeface" 
    class:selected 
    on:click={clickTypeface} 
    draggable={true}
    on:dragstart={dragStart}
    on:dragend={dragEnd}
  >
    
    <div class="icon-section">
      <ExpandableIcon {expanded} on:click={toggleFonts} disabled={!hasStyles} />
    </div>

    {#if hasStyles}
      <h1 class="name">{typeface.family}</h1>
      <h3 class="styles-count" on:click={toggleFonts}>{styleCountMessage}</h3>
    {:else}
      <h1 class="name">{typeface.family}</h1>
      <h3 class="styles-count">{typeface.variants[0].description}</h3>
    {/if}
  </main>

  {#if expanded}
    <section class="typeface-variants" in:slide|local={{duration: 500}} out:slide|local={{duration: 200}}>
      <FontList fonts={typeface.variants} selected={selectedVariants} on:click={selectFont} on:dragstart={childDragStart}/>
    </section>
  {/if}
</article>


<style>
  .typeface {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    background-color: var(--panel-item);
    border-bottom: var(--panel-border);
    border-bottom-width: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    flex: 0 1 auto;
  }

   .typeface:hover {
    background-color: var(--panel-item-hover);
    cursor: default;
    user-select: none;
  }

  .typeface.selected {
    background-color: var(--selected-background);
    color: var(--selected-color);
    transition: 0.1s ease-out background-color;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 0;
  }

  .icon-section {
    width: 1.5rem;
  }

  .name {
    font-size: 1.2rem;
    margin: 0 0 0 0.5rem;
    font-weight: 400;
  }

  .styles-count {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0 1rem;
    color: var(--muted-color);
    user-select: none;
  }

  .styles-count:hover {
    color: var(--foreground-color);
  }

</style>

<script>

  import ExpandableIcon from "components/ExpandableIcon.html";
  import FontList from "components/FontList.html";
  import { selected as selectionStore } from "stores/font-selection.js";


  import { slide } from 'svelte/transition';

  export let typeface = null;
  export let expanded = false; // whether the fonts of this typeface are displayed
  export let selected = false; // whether this typeface is selected
  export let selectedVariants = []; // list of the font names `font.name

  // keep our selected variants in sync
  selectionStore.subscribe(store => {
    const variants = store[typeface.family];
    // if the key-value exists, this typeface is selected
    selected == !!variants; 
    selectedVariants = variants || [];
  });

  // dom node
  let el;

  let styleCount = typeface.variants.length;
  $: styleCountMessage = `${styleCount} ${styleCount === 1 ? "style" : "styles" }`;
  $: hasStyles = styleCount > 1;


  const toggleFonts = (e) => {
    e.stopPropagation();
    expanded = !expanded;
  }

  const clickTypeface = (e) => {
    selectionStore.toggleTypeface(typeface, !selected);
  }

  const selectFont = (e) => {
    const variant = e.data.font;
    selectionStore.toggleVariant(typeface, variant);
  }

  // handler for dragging the typeface
  function dragStart(e) {
    if (!selected) clickTypeface(e);
    // if we do this on the immediate frame, it will disappear 
    // and lose dragging state
    requestAnimationFrame(() => {
      // el.style.opacity = "0.25";
    });
  }

  // handler for dragging a font face
  function childDragStart(e) {
    const { font, selected: fontSelected } = e.data;

    // dragging a single font that is not selected will select only the single font
    if (!fontSelected) {
      selectFont(e);
    }
  }

  function dragEnd() {
    // el.style.opacity = null;
  }
</script>