
{#if hasGroupSelected}
  <h2 class="group-name">{$selectedGroup.name} <span class="count">{typefaces.length}</span></h2>
  <ol class="typefaces">
    {#each typefaces as typeface, i (typeface.family)}
      <li>
        <TypeFace {typeface} expanded={false} selected={typeof $selectedFonts[typeface.family] !== "undefined"} />
      </li>
    {:else}
      <div class="empty">
        <p>{$selectedGroup.name} is empty</p>
      </div>
    {/each}
  </ol>
{:else}
  <div class="empty">
    <p>No Group Selected</p>
  </div>
{/if}

<style>

  .empty {
    padding: 1rem 1rem;
    text-align: center;
    color: var(--muted-color);
  }


  .group-name {
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 0.5rem;
    margin: 0 0;
    border-bottom: var(--panel-border);
  }

  .typefaces {
    height: 100%;
    overflow-y: scroll;
  }

  .typefaces li {
    display: block;
  }

  .count {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0 1rem;
    color: var(--muted-color);
    user-select: none;
  }

</style>

<script>

  import TypeFace from "components/TypeFace.html";

  import { selected as selectedGroup } from "stores/custom-groups.js";
  import { selected as selectedFonts } from "stores/font-selection.js";

  let hasGroupSelected = false;
  $: hasGroupSelected = $selectedGroup !== null;

  let typefaces = [];
  $: typefaces = hasGroupSelected ? $selectedGroup.typefaces.toList() : [];

</script>